<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Projetos</title>
    <link rel="stylesheet" href="../styles/listarProjetos.css">
</head>
<body>
    <div class="container">
        <h2>Lista de Projetos</h2>

        <!-- Botão de Cadastro de Projeto -->
        <button class="botao-cadastro" onclick="irParaCadastro()">Cadastrar Novo Projeto</button>

        <div id="listaDeProjetos"></div>
    </div>

    <script src="../js/listarProjetos.js"></script>
</body>
</html>
